/backend/wp-admin/
/backend/wp-content/index.php
/backend/wp-content/languages
/backend/wp-content/plugins/index.php
/backend/wp-content/themes/index.php
/backend/wp-includes/
/backend/index.php
/backend/license.txt
/backend/readme.html
/backend/wp-*.php
/backend/xmlrpc.php

# Configuration
/backendwp-config.php

# Example themes
/backend/wp-content/themes/twenty*/

# Example plugin
/backend/wp-content/plugins/hello.php

# Uploads
/backend/wp-content/uploads/

# Log files
/backend/*.log

# htaccess
/backend/.htaccess

/frontend/node_modules

# testing
/frontend/coverage

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local

/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*